@model ICollection<Supervisor>
@{ Layout = (string)ViewData["Layout"] ?? "_AdminHomeLayout"; }

<div class="row mb-2">
    <a class="col-12 col-md-8 col-lg-6 btn btn-success" asp-controller="Supervisors" asp-action="Create">Dodaj nowego promotora</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Email</th>
            <th scope="col">Wydział</th>
            <th scope="col">Limit studentów</th>
        </tr>

        @foreach (var supervisor in Model)
        {
            <tr>
                <th scope="row" style="display: flex;">
                    <div style="padding-top: 0.4em; min-width: 20%">@supervisor.Id</div>
                    <a class="btn btn-warning" asp-controller="Supervisors" asp-action="Edit" asp-route-id="@supervisor.Id" style="margin-right:5px;"><i class="fa fa-pencil-square-o"></i></a>
                    <a class="btn btn-danger" asp-controller="Supervisors" asp-action="Delete" asp-route-id="@supervisor.Id"><i class="fas fa-trash-alt"></i></a>
                </th>
                <td>@supervisor.User.FirstName</td>
                <td>@supervisor.User.LastName</td>
                <td>@supervisor.User.Email</td>
                <td>@supervisor.Faculty.Name</td>
                <td>@supervisor.StudentLimit</td>
            </tr>
        }
</table>

