@model ProjectThesis.ViewModels.StudentViewModel
@{ Layout = (string)ViewData["Layout"] ?? "_AdminHomeLayout"; }

<script type="text/javascript" src="~/js/studentCreation.js"></script>

<form asp-controller="Students" asp-action="Edit">

    <p class="text-danger">@ViewData["Message"]</p>
    <div class="row">
        <div class="col">

            <input type="hidden" asp-for="Student.Id" maxlength="10" />
            <input type="hidden" asp-for="Student.UserId" maxlength="10" />

            <label asp-for="Student.User.Email">E-mail</label>
            <input type="text" asp-for="Student.User.Email" class="form-control" maxlength="50">
            <div class="text-danger">@Html.ValidationMessage("Student.User.Email")</div>

            <label asp-for="Student.User.Password">Hasło (Pozostaw puste aby nie wprowadzać zmian)</label>
            <input type="password" asp-for="Student.User.Password" class="form-control" aria-describedby="passwordHelp" maxlength="30">
            <div class="text-danger">@Html.ValidationMessage("Student.User.Password")</div>

            <label>Powtórz hasło</label>
            <input type="password" name="ConfirmPassword" class="form-control" aria-describedby="passwordHelp" maxlength="30">
            <div class="text-danger">@Html.ValidationMessage("ConfirmPassword")</div>

            <label asp-for="Student.User.FirstName">Imię</label>
            <input type="text" asp-for="Student.User.FirstName" class="form-control" maxlength="30">
            <div class="text-danger">@Html.ValidationMessage("Student.User.FirstName")</div>

            <label asp-for="Student.User.LastName">Nazwisko</label>
            <input type="text" asp-for="Student.User.LastName" class="form-control" maxlength="30">
            <div class="text-danger">@Html.ValidationMessage("Student.User.LastName")</div>
        </div>
        <div class="col">
            <label asp-for="Student.StudentNo">Nr albumu</label>
            <input type="text" asp-for="Student.StudentNo" class="form-control" maxlength="10">
            <div class="text-danger">@Html.ValidationMessage("Student.StudentNo")</div>

            <label asp-for="Student.DegreeCycle">Stopień studiów</label>
            <select asp-for="Student.DegreeCycle" class="form-control">
                <option value="-99" selected disabled hidden>-- Wybierz stopień studiów --</option>
                <option value="0">I</option>
                <option value="1">II</option>
            </select>
            <div class="text-danger">@Html.ValidationMessage("Student.DegreeCycle")</div>

            <label for="Faculties">Wydział</label>
            <select name="faculties" id="Faculties" class="form-control" onchange="javascript: GetSpecialties(this.value);">
                <option value="" selected disabled hidden>-- Wybierz wydział --</option>
            </select>

            <label asp-for="Student.SpecialtyId">Kierunek</label>
            <select asp-for="Student.SpecialtyId" class="form-control">
                <option value="-99" selected disabled hidden>-- Wybierz kierunek --</option>
            </select>
            <div class="text-danger">@Html.ValidationMessage("Student.Specialty")</div>

            <button type="submit" style="width: 100%; margin-left: 0; margin-top: 2.05em;" class="btn btn-primary">Edytuj</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#Faculties").val(@Model.Student.Specialty.FacId);
        GetSpecialties(@Model.Student.Specialty.FacId);
        $("#Student_SpecialtyId").val(@Model.Student.SpecialtyId);
    });
</script>