@model ICollection<Student>
@{ Layout = (string)ViewData["Layout"] ?? "_AdminHomeLayout"; }

<div class="row mt-2">
    <a class="col-12 col-md-8 col-lg-6 btn btn-success" asp-controller="Students" asp-action="Create" style="margin-bottom: 0.5rem;">Dodaj nowego studenta</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Email</th>
            <th scope="col">Stopień studiów</th>
            <th scope="col">Numer albumu</th>
            <th scope="col">Wydział</th>
            <th scope="col">Kierunek</th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <th scope="row" style="display: flex;">
                    <div style="padding-top: 0.4em; min-width: 20%;">@student.Id</div>
                    <a class="btn btn-warning" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id" style="margin-right: 5px;"><i class="fa fa-pencil-square-o"></i></a>
                    <a class="btn btn-danger" asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id"><i class="fas fa-trash-alt"></i></a>
                </th>
                <td>@student.User.FirstName</td>
                <td>@student.User.LastName</td>
                <td>@student.User.Email</td>
                <td>
                    @if (student.DegreeCycle == 0)
                    {
                        <span>I</span>
                    }
                    else if (student.DegreeCycle == 1)
                    {
                        <span>II</span>
                    }
                </td>
                <td>@student.StudentNo</td>
                <td>@student.Specialty.Name</td>
                <td>@student.Specialty.Fac.Name</td>
            </tr>
        }
</table>