@model ICollection<Student>
@{
    Layout = "_AdminLayout";
}

<div class="row mt-2">
    <a class="col-12 col-md-8 col-lg-6 btn btn-success" asp-controller="Students" asp-action="Create">Dodaj nowego studenta</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Email</th>
        <th scope="col">Rok studiów</th>
        <th scope="col">Numer albumu</th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <th scope="row">
                <p>@student.Id</p>
                <a class="btn btn-warning" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id"><i class="fa fa-pencil-square-o"></i></a>
                <a class="btn btn-danger" asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id"><i class="fas fa-trash-alt"></i></a>
            </th>
            <td>@student.User.FirstName</td>
            <td>@student.User.LastName</td>
            <td>@student.User.Email</td>
            <td>@student.DegreeCycle</td>
            <td>@student.StudentNo</td>
        </tr>
    }
</table>