@model ProjectThesis.ViewModels.StudentPanelViewModel;
@{
    ViewData["Title"] = "Strona główna";
    Layout = "_StudentHomeLayout";
}

<div class="row">
    <div class="col-12">
        <p class="text-danger text-center">@TempData["Error"]</p>
        <p class="text-success text-center">@TempData["Success"]</p>
    </div>

    <div class="student-data col-6 col-md-3">
        <h4>Imię:</h4>
        <h4>Nazwisko:</h4>
        <h4>E-mail:</h4>
        <h4>Nralbumu:</h4>
        <h4>Wydział:</h4>
        <h4>Kierunek:</h4>
    </div>
    <div class="student-data col-6">
        <p>@Html.DisplayFor(model => model.User.FirstName)<p>
        <p>@Html.DisplayFor(model => model.User.LastName)</p>
        <p>@Html.DisplayFor(model => model.User.Email)</p>
        <p>@Html.DisplayFor(model => model.Student.StudentNo)</p>
        <p>@Html.DisplayFor(model => model.Student.Specialty.Fac.Name)</p>
        <p>@Html.DisplayFor(model => model.Student.Specialty.Name)</p>
    </div>
    <div class="col-12 col-md-3">
        <h4>Temat mojej pracy</h4>
        <p>@Html.DisplayFor(model => model.Thesis.Subject)</p>
        <h4>Mój promotor</h4>
        <p>
            @Html.DisplayFor(model => model.Supervisor.FirstName)
            @Html.DisplayFor(model => model.Supervisor.LastName)
        </p>
    </div>
    <div id="change-buttons" class="col-10 col-md-6 offset-1 offset-md-0">
        <button type="button" class="btn btn-primary mb-1" id="change-password">Zmień hasło</button>
        <form asp-controller="Authentication" asp-action="ChangePassword" id="changePasswordForm" class="d-none">
            <div id="form-group-password" class="form-group">
                <input id="password-1" required type="password" maxlength="30" name="newPassword" class="form-control mb-1">
                <input id="password-2" required type="password" maxlength="30" class="form-control mb-1">
                <button id="confirm-change-password" type="button" class="btn btn-secondary w-100">Zatwierdź</button>
            </div>
        </form>
        <button type="button" class="btn btn-primary mb-1" id="change-email">Zmień e-mail</button>
        <form asp-controller="Authentication" asp-action="ChangeEmail" id="changeEmailForm" class="d-none">
            <div class="form-group">
                <input required type="text" maxlength="50" name="newEmail" class="form-control mb-1">
                <button id="confirm-change-email" type="submit" class="btn btn-secondary w-100">Zatwierdź</button>
            </div>
        </form>
    </div>
</div>

@section Scripts 
{
    <script type="text/javascript" src="~/js/changePassword.js"></script>
    <script type="text/javascript" src="~/js/changeEmail.js"></script>
}