@model ProjectThesis.ViewModels.ThesesListViewModel
@{
    ViewData["Title"] = "Prace dyplomowe";
    Layout = "_StudentHomeLayout";
}
<div class="col-12">
    <p class="text-danger text-center">@TempData["Error"]</p>
    <p class="text-success text-center">@TempData["Success"]</p>
</div>
<div id="supers-div" class="col-12 col-md-8 col-lg-4 m-auto">
    @foreach (Supervisor supervisor in Model.Supervisors)
    {
        var containerId = "supervisor-container-" + supervisor.Id;
        <div id=@containerId class="d-flex flex-column form-group pt-1">
            <div class="d-flex flex-row mb-2">
                <h5 class="w-50">@supervisor.User.FirstName @supervisor.User.LastName</h5>
                <div class="ml-auto">
                    <span class="pr-2">@Model.SupervisorsByStudentCounts[supervisor.Id] / @supervisor.StudentLimit</span>
                    <button class="btn btn-primary p-0" onclick="ShowThesisList(this.value)" value=@supervisor.Id style="width: 2em; height: 2em; margin-left:10px;">+</button>
                </div>
                    
            </div>
            <ul id="thesis-list" class="list-group"></ul>
        </div>
    }
</div>

<div id="confirm-reservation" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Potwierdzenie rezerwacji</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Czy jesteś pewien, że chcesz zarezerwować temat "<span class="text-primary" id="thesis-title"></span>"?</p>
            </div>
            <div class="modal-footer">
                <a id="btn-confirm-reservation" class="btn btn-primary">Tak</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#confirm-reservation').on('shown.bs.modal',
            function (e) {
                console.log("WORKING");
                $(this).find('#thesis-title').html($(e.relatedTarget).html());
                $(this).find('#btn-confirm-reservation').attr('href', $(e.relatedTarget).data('href'));
            });
    });

    function ShowThesisList(supervisorId) {
        var $supervisorContainer = $("#supervisor-container-" + supervisorId);

        var $supervisorButton = $supervisorContainer.find("button");
        var $thesisList = $supervisorContainer.find("ul");

        if ($supervisorButton.html() === "+") {
            $supervisorButton.html("-");

            $.ajax({
                method: "GET",
                url: "@Url.Action("GetSupervisorTheses", "StudentHome")",
                data: { "supervisorId": supervisorId, "specialtyId": "@Model.SpecialtyId", "degreeCycle": "@Model.DegreeCycle" },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (theses) {
                    theses.forEach(function (thesis) {
                        var action = 
                            $thesisList.append(
                                $('<a class="list-group-item list-group-item-action" data-toggle="modal" data-target="#confirm-reservation"></a>').attr("data-href", `/StudentHome/ReserveThesis?thesisId=${thesis.id}`).html(thesis.subject)
                            );
                    });
                    $thesisList.append(
                        $('<a href="#" class="list-group-item list-group-item-action active"></a>').html("Zaproponuj własny temat")
                    );
                }
            });
        }
        else {
            $supervisorButton.html("+");
            $thesisList.empty();
        }
    }
</script>