@model ProjectThesis.ViewModels.ThesesListViewModel
@{
    ViewData["Title"] = "Thesis";
    Layout = "_Layout";
}

    <div id="supers-div" style="width: 50%; left: 35%; position: relative;">
        @foreach (Supervisor supervisor in Model.Supervisors)
        {
            var containerId = "supervisor-container-" + supervisor.Id;
            <div id=@containerId class="d-flex flex-column form-group pt-1">
                <div class="d-flex flex-row">
                    <h5 class="w-50">@supervisor.User.FirstName @supervisor.User.LastName</h5>
                    <span>@Model.SupervisorsByStudentCounts[supervisor.Id] / @supervisor.StudentLimit</span>
                    <button class="btn btn-primary p-0" onclick="ShowThesisList(this.value)" value=@supervisor.Id style="width: 2em; height: 2em; margin-left:10px;">+</button>
                </div>
                <ul id="thesis-list" class="list-group"></ul>
            </div>
        }
    </div>

    <script type="text/javascript">
    function ShowThesisList(supervisorId) {
        var $supervisorContainer = $("#supervisor-container-" + supervisorId);

        var $supervisorButton = $supervisorContainer.find("button");
        var $thesisList = $supervisorContainer.find("ul");

        if ($supervisorButton.html() === "+") {
            $supervisorButton.html("-");

            $.ajax({
                method: "GET",
                url: "@Url.Action("GetSupervisorTheses", "Home")",
                data: { "supervisorId": supervisorId, "specialtyId": "@Model.FacultyId", "degreeCycle": "@Model.DegreeCycle" },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (theses) {
                    theses.forEach(function (thesis) {
                        $thesisList.append(
                            $('<li class="list-group-item"</li>').val(thesis.id).html(thesis.subject)
                        );
                    });
                    $thesisList.append(
                        $('<a href="#" class="list-group-item list-group-item-action active" style="margin-top:10px; width:70%;"></a>').html("Zaproponuj własny temat")
                    );
                }
            });
        }
        else {
            $supervisorButton.html("+");
            $thesisList.empty();
        }
    }
    </script>